header{
  margin: 0px;
}
.header {
  height: 400px;
  width: 100%;
  position: relative;
  margin-left: 0px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  background: #cc932f;
  background-image: url("../images/asfalt-dark.png");
}
.avatar {
  margin-left: auto;
  margin-right: auto;
}

#profile-name {
  text-align: center;
  margin: 0;
}